
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/js/anime.min.js"></script>

    <style>
        @@import url("https://fonts.googleapis.com/css?family=Dosis:600,800");

        * {
            box-sizing: border-box;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            font-family: "Dosis", sans-serif;
            color: #3F3C3C;
            background-color: #4e657a;
        }

        .site-logo {
            display: flex;
            align-items: center;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        [id="logo"] {
            position: relative;
            flex: 0 0 3.75rem;
            width: 3.75rem;
            z-index: 2;
        }

            [id="logo"] polygon {
                -webkit-transform-origin: 50%;
                transform-origin: 50%;
            }

            [id="logo"] circle {
                -webkit-transform-origin: 80% 80%;
                transform-origin: 80% 80%;
            }

        .site-title {
            position: relative;
            overflow: hidden;
            margin-left: -1.5rem;
            z-index: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }

        .site-title-text {
            padding: 0.25rem 0.375rem 0.25rem 1.75rem;
            color: white;
            font-size: 4rem;/*原本2rem*/
            font-weight: 800;
        }

            .site-title-text span {
                margin-left: 0.015625rem;
                color: #f5a623;
            }

        .button-restart {
            position: fixed;
            bottom: 1.5rem;
            padding: 0.375rem 1.5rem 0.5rem 1.5rem;
            font-family: "Dosis", sans-serif;
            font-size: 0.875rem;
            font-weight: 600;
            letter-spacing: 0.03125rem;
            outline: none;
            cursor: pointer;
            color: #00B4FF;
            background-color: transparent;
            border: 0.125rem solid #00B4FF;
            border-radius: 0.125rem;
            transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
            transition: color 0.2s ease-out, transform 0.2s ease-out;
            transition: color 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
        }

            .button-restart:after {
                content: '';
                position: absolute;
                top: -0.125rem;
                left: -0.125rem;
                pointer-events: none;
                width: 100%;
                height: 100%;
                border: 0.125rem solid #3F3C3C;
                -webkit-transform: translate(0.25rem, 0.25rem);
                transform: translate(0.25rem, 0.25rem);
                opacity: 0;
                transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
                transition: opacity 0.2s ease-out, transform 0.2s ease-out;
                transition: opacity 0.2s ease-out, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
            }

            .button-restart:hover {
                color: #3F3C3C;
                -webkit-transform: translateY(-0.125rem);
                transform: translateY(-0.125rem);
            }

                .button-restart:hover:after {
                    opacity: 1;
                    -webkit-transform: translate(0, 0);
                    transform: translate(0, 0);
                }

            .button-restart:active {
                -webkit-transform: translateY(-0.0625rem);
                transform: translateY(-0.0625rem);
                transition-duration: 0s;
            }
    </style>
</head>
<body>
    <div class="site-logo">
        <figure id="logo">
            <svg width="100%" height="100%" viewBox="0 0 148 128">
                <defs>
                    <mask id="circle-mask">
                        <rect fill="white" width="100%" height="100%"></rect>
                        <circle id="logo-mask" fill="black" cx="120" cy="96" r="28"></circle>
                    </mask>
                </defs>
                <polygon id="logo-hexagon" fill="#f5a623" points="64 128 8.574 96 8.574 32 64 0 119.426 32 119.426 96" mask="url(#circle-mask)"></polygon>
                <circle id="logo-circle" fill="white" cx="120" cy="96" r="20"></circle>
            </svg>
        </figure>
        <div class="site-title">
            <div id="logo-text" class="site-title-text">
                I<span>Food</span>
            </div>
        </div>
    </div>

    @*<button class="button-restart">restart</button>*@
    <script>
        const restart = document.querySelector(".button-restart");
        const logoAnimation = anime.timeline({
            autoplay: true,
            delay: 200
        });

        logoAnimation.add({
            targets: '#logo',
            translateY: [-100, 0],
            opacity: [0, 1],
            elasticity: 600,
            duration: 400
        }).add({
            targets: '#logo-hexagon',
            rotate: [-90, 0],
            duration: 300,
            elasticity: 600,
            offset: 100
        }).add({
            targets: '#logo-circle',
            scale: [0, 1],
            duration: 300,
            elasticity: 600,
            offset: 500
        }).add({
            targets: '#logo-mask',
            scale: [0, 1],
            duration: 250,
            elasticity: 600,
            offset: 550
        }).add({
            targets: '#logo-text',
            translateX: ['-100%', 0],
            opacity: [0, 1],
            duration: 1000,
            easing: 'easeOutExpo',
            offset: 1000
        })

        //restart.addEventListener("click", () => logoAnimation.restart());

                window.setTimeout(function () {

            // Move to a new location or you can do something else
            window.location.href = "@Url.Action("index", "Home")";

        }, 4000);

    </script>
</body>
</html>